
@{
    ViewBag.Title = "求购详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")
<div class="carbuy hide" v-bind:class="['show']">
    <ul class="ind_sec1_ul car_item">
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <a href="car-source-details.asp">
                            <div class="img">
                                <img v-bind:src="newsData.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="newsData.add_nickname"></span>
                                <p>
                                    <i class="lab1" v-show="newsData.set_top>0">置顶</i>
                                    <i class="lab2">车辆求购</i>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p v-text="newsData.other_remark"></p>
                </div>
                <div class="details_main">
                    <dl>
                        <dt>品牌：</dt>
                        <dd v-text="newsData.use_type"></dd>
                    </dl>
                    <dl>
                        <dt>车龄：</dt>
                        <dd v-text="newsData.recruit_num+'年'"></dd>
                    </dl>
                    <dl>
                        <dt>车型：</dt>
                        <dd v-text="newsData.car_style"></dd>
                    </dl>
                    <dl>
                        <dt>马力：</dt>
                        <dd v-text="newsData.goods_weight+'马力'"></dd>
                    </dl>
                    <dl>
                        <dt>车辆地区：</dt>
                        <dd>{{(newsData.start_city+newsData.start_district)|stringRemove('')}}</dd>
                    </dl>
                    <dl>
                        <dt>其他：</dt>
                        <dd v-text="newsData.other_remark"></dd>
                    </dl>
                </div>
                <div class="ind_time">
                    {{newsData.update_time|dateFormart('更新')}}
                </div>
                <div class="ind_flo">
                    <ol class="clearfix">
                        <li>
                            <img src="/images/icon/icon03_1.png">
                            <span v-text="newsData.view_num"></span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_2.png" v-show="!newsData.is_praise" v-on:click="clickPraise(newsData)">
                            <img src="/images/icon/icon03_4.png" v-show="newsData.is_praise" v-on:click="cancelClickPraise(newsData)">
                            <span v-text="newsData.praise_num"></span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_3.png">
                            <span v-text="newsData.share_num"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ul>
    <!--联系人-->
    <div class="eld_item2">
        <div class="wrapper">
            <dl>
                <dt>联系电话</dt>
                <dd>
                    <span v-text="newsData.contact_phone"></span>
                    <a class="btn" v-bind:href="'tel://'+newsData.contact_phone"><img src="/images/icon/icon12.png">打电话</a>
                </dd>
            </dl>
            <dl>
                <dt>联系人</dt>
                <dd>
                    <span v-text="newsData.contact_name"></span>
                </dd>
            </dl>
        </div>
    </div>
    <!-- 广告 -->
    @Html.Action("AdList", "Partial", new { code = "details_carbuy_banner" })
    <details-component v-bind:id="id" v-bind:news-data="newsData"></details-component>
</div>
@Html.Partial("_Footer")
@section scripts{
    @Html.Action("Template", "Partial", new { id = "Details" })
    @Scripts.Render("/Scripts/Project/CarBuyDetails.js")
}

