
@{
    ViewBag.Title = "出售信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")
@section styles{
    <link href="/Content/Project/Project.css" rel="stylesheet" />
}
<div class="main hide" v-bind:class="['show']">
    <div class="el_top">
        <div class="wrapper">
            <ul class="el_top_ul">
                <li style="width: 40%;"><a class="start_city" v-on:click="select.showCity=true"><span>{{searchKey.start_city|cityFormart(searchKey.start_district,searchKey.start_province,'地区')}}</span><i></i></a></li>
                <li style="width: 30%;"><a class="use_type" v-on:click="showUseType()"><span v-text="(searchKey.use_type==''?'品牌':searchKey.use_type)">品牌</span><i></i></a></li>
                <li style="width: 30%;"><a class="more" v-on:click="showCarLength()"><span>更多</span><i></i></a></li>
            </ul>
        </div>
    </div>
    <ul class="ind_sec1_ul">
        <li v-for="item in listData.list">
            <list-component v-bind:item="item" v-if="item"></list-component>
        </li>
        <li v-if="noneData" class="none-data">
            抱歉!此地区信息被抢空
            <br />
            邀请您成为地区合伙人
            <br />
            月入万元
            <a class="earn-money" href="/User/EarnMoney"><<点击查看</a>
        </li>
    </ul>
    <div class="clearfix"></div>
    <city-dialog v-bind:box="'start_box'"
                 v-bind:box-title="'地区'"
                 v-bind:ob="searchKey"
                 v-bind:province="'start_province'"
                 v-bind:city="'start_city'"
                 v-bind:district="'start_district'"
                 v-bind:show-dialog="'showCity'"
                 v-bind:show-ob="select"
                 v-bind:has-all-district="true" 
                 v-bind:has-all-city="true" 
                 v-if="select.showCity"
                 v-on:end="confirm()">
    </city-dialog>
    <div class="use_type_box zhp_box hide">
        <div class="cty_box">
            <a href="javascript:;" v-bind:style="{width:'22.5%'}"
               v-bind:class="[{ 'cur':searchKey.use_type=='' }]"
               v-on:click="searchKey.use_type='';confirm();">不限</a>
            <a href="javascript:;" v-bind:style="{width:'22.5%'}" v-for="item in useTypeData"
               v-bind:class="[{ 'cur': item.title==searchKey.use_type }]"
               v-text="item.title" v-on:click="searchKey.use_type=item.title;confirm();"></a>
        </div>
    </div>
    <div class="car_length_box zhp_box hide">
        <div class="cty_box">
            <p>车型</p>
            <a href="javascript:;" v-bind:class="[{ 'cur':searchKey.car_style=='' }]"
               v-on:click="searchKey.car_style='';">不限</a>
            <a href="javascript:;" v-for="item in carStyleData"
               v-bind:class="[{ 'cur': item.title==searchKey.car_style }]"
               v-text="item.title" v-on:click="searchKey.car_style=item.title;"></a>
        </div>
        <div class="cty_box">
            <p>排放标准</p>
            <a href="javascript:;" v-bind:class="[{ 'cur':searchKey.car_length=='' }]"
               v-on:click="searchKey.car_length=''">不限</a>
            <a href="javascript:;" v-for="item in carLengthData"
               v-bind:class="[{ 'cur': item.title==searchKey.car_length }]"
               v-text="item.title" v-on:click="searchKey.car_length=item.title"></a>
        </div>
        <div class="cty_box">
            <p>车辆户型</p>
            <a href="javascript:;" v-bind:class="[{ 'cur':searchKey.goods_type=='' }]"
               v-on:click="searchKey.goods_type=''">不限</a>
            <a href="javascript:;"
               v-bind:class="[{ 'cur': '公司户'==searchKey.goods_type }]"
               v-text="'公司户'" v-on:click="searchKey.goods_type='公司户'"></a>
            <a href="javascript:;"
               v-bind:class="[{ 'cur': '个人户'==searchKey.goods_type }]"
               v-text="'个人户'" v-on:click="searchKey.goods_type='个人户'"></a>
        </div>
        <div class="sub_btn_box">
            <a href="javascript:void(0);" class="cancle" v-on:click="searchKey.car_style='';searchKey.car_length='';searchKey.goods_type='';">重置</a>
            <a href="javascript:void(0);" class="confirm" v-on:click="confirm()">确定</a>
        </div>
    </div>
</div>
@Html.Partial("_Footer")
@section scripts{
    @Html.Partial("_CityJs")
    @Html.Action("Template", "Partial", new { id = "List" })
    @Html.Action("Template", "Partial", new { id = "CityDialog" })
    @Scripts.Render("/Scripts/Project/CarSell.js")
}

