
@{
    ViewBag.Title = "车源详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<div class="cardDetails hide" v-bind:class="[{'show':newsData.id}]">

    <ul class="ind_sec1_ul car_item">
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <a href="car-source-details.asp">
                            <div class="img">
                                <img v-bind:src="newsData.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="newsData.add_nickname"></span>
                                <p>
                                    <i class="lab1" v-show="newsData.set_top>0">置顶</i>
                                    <i class="lab2">有车找货</i>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p v-text="newsData.other_remark"></p>
                </div>
                <div class="details_main">
                    <dl>
                        <dt>类型：</dt>
                        <dd>有车找货</dd>
                    </dl>
                    <dl>
                        <dt>车长：</dt>
                        <dd v-text="newsData.car_length+'米'"></dd>
                    </dl>
                    <dl>
                        <dt>车型：</dt>
                        <dd v-text="newsData.car_style"></dd>
                    </dl>
                    <dl style="width:100%">
                        <dt>行驶路线：</dt>
                        <dd>
                            <span>{{newsData.start_city|cityFormart(newsData.start_district,newsData.start_province,'出发地')}}</span>
                            —
                            <span>{{newsData.stop_city|cityFormart(newsData.stop_district,newsData.stop_province,'到达地')}}</span>
                        </dd>
                    </dl>
                    <dl style="width:100%;">
                        <dt class="other-text">其他：</dt>
                        <dd class="other-remark" v-text="newsData.other_remark">
                    </dl>
                </div>
                <div class="ind_time">
                    {{newsData.update_time|dateFormart('更新')}}
                </div>
                <div class="ind_flo">
                    <ol class="clearfix">
                        <li>
                            <img src="/images/icon/icon03_1.png">
                            <span v-text="newsData.view_num"></span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_2.png" v-show="!newsData.is_praise" v-on:click="clickPraise(newsData)">
                            <img src="/images/icon/icon03_4.png" v-show="newsData.is_praise" v-on:click="cancelClickPraise(newsData)">
                            <span v-text="newsData.praise_num"></span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_3.png">
                            <span v-text="newsData.share_num"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ul>


    <div class="eld_item2">
        <div class="wrapper">
            <dl>
                <dt>联系电话</dt>
                <dd>
                    <span v-text="newsData.contact_phone"></span>
                    <a class="btn" v-bind:href="'tel://'+newsData.contact_phone"><img src="/images/icon/icon12.png">打电话</a>
                </dd>
            </dl>
            <dl>
                <dt>联系人</dt>
                <dd>
                    <span v-text="newsData.contact_name"></span>
                </dd>
            </dl>
            <p class="lip">联系我时，请说在货车百事通看到的，谢谢！</p>
        </div>
    </div>

    <!-- 广告 -->
    @Html.Action("AdList", "Partial", new { code = "details_cars_banner" })

    <!-- 留言 -->
    <div class="eld_item3">
        <p class="p_tt">
            <span>留言</span>
            <a href="javascript:void(0);" v-on:click="showReview('comment')" class="btn"><img src="/images/icon/icon13.png">我要留言</a>
        </p>
        <ul class="eld_item3_ul">
            <li v-for="item in reviewData.list">
                <div class="img_box">
                    <img v-bind:src="item.avatar">
                </div>
                <div class="txt_box" v-bind:class="{'open':item.classOpen}">
                    <p class="p1" v-text="item.nickname"></p>
                    <p class="p2">{{item.add_time|dateFormart('更新')}}</p>
                    <p class="p3" v-text="item.review_content"></p>
                    <i class="txt_box_btn" v-on:click="changeClass(item)" v-text="item.classText"></i>
                    <a href="javascript:void(0);" v-on:click="showReview('reply',item.id)" class="reply_btn">回复</a>
                </div>
                <div class="reply_box" v-for="p in item.reply_list">
                    <dl>
                        <dt v-text="p.nickname+'：'"></dt>
                        <dd v-text="p.review_content"></dd>
                    </dl>
                </div>
            </li>
        </ul>
        <a href="javascript:void(0);" v-on:click="loadMoreReview()" class="more_btn">加载更多</a>
    </div>

    <!-- 打电话 -->
    <div class="eld_item4">
        <a v-bind:href="'tel://'+newsData.contact_phone" class="call_btn">打电话</a>
    </div>

    <!-- 猜你喜欢 -->
    <div class="ind_sec1">
        <p class="p_tt"><span>猜你喜欢</span></p>
        <ul class="ind_sec1_ul">
            <li v-for="z in likeData">
                <div class="wrapper">
                    <div class="ind_main_t">
                        <div class="use">
                            <div class="img">
                                <img v-bind:src="z.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="z.add_nickname"></span>
                                <p>
                                    <i class="lab1" v-show="z.set_top>0">置顶</i>
                                    <i class="lab2" v-if="z.cate" v-text="z.cate"></i>
                                </p>
                            </div>
                        </div>
                        <div class="call">
                            <a v-bind:href="'tel://'+z.contact_phone">
                                <img src="/images/icon/icon02.png">
                                <span>打电话</span>
                            </a>
                        </div>
                    </div>
                    <div class="ind_main_m">
                        <p v-text="z.other_remark"></p>
                    </div>
                    <div class="ind_lab">
                        <i class="lab1" v-show="z.use_type" v-text="z.use_type"></i>
                        <i class="lab2" v-show="z.car_style" v-text="z.car_style"></i>
                        <i class="lab3" v-show="z.car_length" v-text="z.car_length+'米'"></i>
                        <i class="lab4" v-show="z.goods_type" v-text="z.goods_type"></i>
                    </div>
                    <div class="ind_time">{{z.use_time|dateFormart('更新')}}</div>
                    <div class="ind_flo">
                        <ol class="clearfix">
                            <li>
                                <img src="/images/icon/icon03_1.png">
                                <span v-text="z.view_num"></span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_2.png" v-show="!z.is_praise" v-on:click="clickPraise(z)">
                                <img src="/images/icon/icon03_4.png" v-show="z.is_praise" v-on:click="cancelClickPraise(z)">
                                <span v-text="z.praise_num"></span>
                            </li>
                            <li>
                                <img src="/images/icon/icon03_3.png">
                                <span v-text="z.share_num"></span>
                            </li>
                        </ol>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="zhp_message_box hide">
        <textarea v-model="reviewInfo.review_content" placeholder="请输入留言内容"></textarea>
        <a href="javascript:;" v-on:click="addReview()" class="btn">提交</a>
    </div>
    <shortcut v-bind:phone="newsData.contact_phone"
              v-bind:cateid="newsData.cateid"
              v-on:add-review="showReview('comment')">
    </shortcut>
</div>
@Html.Partial("_Footer")
@section scripts{
    @Scripts.Render("/Scripts/Project/CarSourceDetails.js")
    @Html.Action("Template", "Partial", new { id = "Shortcut" })
}

