
@{
    ViewBag.Title = "货源信息详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<div class="mainDetails hide" v-bind:class="[{'show':goodsData.id}]">
    <div class="el_item eld_item">
        <div class="wrapper">
            <div class="infor">
                <div class="infor_p1">
                    <span>{{goodsData.start_city|cityFormart(goodsData.start_district,goodsData.start_province,'出发地')}}</span>
                    <i></i><!-- 中间的箭头符号 -->
                    <span>{{goodsData.stop_city|cityFormart(goodsData.stop_district,goodsData.stop_province,'到达地')}}</span>
                    <em v-show="goodsData.set_top>0">置顶</em>
                </div>
                <div class="infor_p2">
                    <i class="lab1" v-if="goodsData.use_type" v-text="goodsData.use_type"></i>
                    <i class="lab2" v-if="goodsData.car_style" v-text="goodsData.car_style"></i>
                    <i class="lab3" v-if="goodsData.car_length" v-text="goodsData.car_length+'米'"></i>
                    <i class="lab4" v-if="goodsData.goods_type" v-text="goodsData.goods_type"></i>
                </div>
                <div class="infor_p3">
                    <div class="img">
                        <img v-bind:src="goodsData.add_avatar">
                    </div>
                    <div class="txt" v-text="goodsData.add_nickname">
                    </div>
                    <div class="date">
                        {{goodsData.update_time|dateFormart('更新')}}
                    </div>
                </div>
            </div>
            <div class="details_main">
                <dl style="width:100%">
                    <dt>行驶路线：</dt>
                    <dd>
                        <span>{{goodsData.start_city|cityFormart(goodsData.start_district,goodsData.start_province,'出发地')}}</span>
                        —
                        <span>{{goodsData.stop_city|cityFormart(goodsData.stop_district,goodsData.stop_province,'到达地')}}</span>
                    </dd>
                </dl>
                <dl>
                    <dt>用车类型：</dt>
                    <dd v-text="goodsData.use_type"></dd>
                </dl>
                <dl>
                    <dt>车型：</dt>
                    <dd v-text="goodsData.car_style"></dd>
                </dl>
                <dl>
                    <dt>车长：</dt>
                    <dd v-text="goodsData.car_length+'米'"></dd>
                </dl>
                <dl>
                    <dt>货物类型：</dt>
                    <dd v-text="goodsData.goods_type"></dd>
                </dl>
                <dl>
                    <dt>货物重量：</dt>
                    <dd v-text="goodsData.goods_weight+goodsData.goods_weight_unit"></dd>
                </dl>
                <dl>
                    <dt>运费金额：</dt>
                    <dd v-text="goodsData.freight+'元'"></dd>
                </dl>
                <dl>
                    <dt>装车时间：</dt>
                    <dd v-text="goodsData.use_time"></dd>
                </dl>
                <dl>
                    <dt>装卸方式：</dt>
                    <dd v-text="goodsData.use_mode"></dd>
                </dl>
                <dl>
                    <dt>付款方式：</dt>
                    <dd v-text="goodsData.pay_method"></dd>
                </dl>
                <dl>
                    <dt class="other-text">其他：</dt>
                    <dd class="other-remark" v-text="goodsData.other_remark">
                    </dd>
                </dl>
            </div>
            <div class="flo">
                <ol class="clearfix">
                    <li>
                        <img src="/images/icon/icon03_1.png">
                        <span v-text="goodsData.view_num"></span>
                    </li>
                    <li>
                        <img src="/images/icon/icon03_2.png" v-show="!goodsData.is_praise" v-on:click="clickPraise(goodsData)">
                        <img src="/images/icon/icon03_4.png" v-show="goodsData.is_praise" v-on:click="cancelClickPraise(goodsData)">
                        <span v-text="goodsData.praise_num"></span>
                    </li>
                    <li>
                        <img src="/images/icon/icon03_3.png">
                        <span v-text="goodsData.share_num"></span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="eld_item2">
        <div class="wrapper">
            <dl>
                <dt>联系电话</dt>
                <dd>
                    <span v-text="goodsData.contact_phone"></span>
                    <a class="btn" v-bind:href="'tel://'+goodsData.contact_phone"><img src="/images/icon/icon12.png">打电话</a>
                </dd>
            </dl>
            <dl>
                <dt>联系人</dt>
                <dd>
                    <span v-text="goodsData.contact_name"></span>
                </dd>
            </dl>
        </div>
    </div>

    <!-- 广告 -->
    @Html.Action("AdList", "Partial", new { code = "details_goods_banner" })
    <details-component v-bind:id="newId" v-bind:news-data="goodsData"></details-component>
</div>
@Html.Partial("_Footer")
@section scripts{
    @Html.Action("Template", "Partial", new { id = "Details" })
    @Scripts.Render("/Scripts/Project/GoodsSourceDetails.js")
}