@using HT.Utility;
@using HT.Model;
@model HT.Model.Model.PageResult<ht_news>
@{
    /**/

    ViewBag.Title = "订阅线路";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")
@section styles{
    <link href="/Content/Project/Project.css" rel="stylesheet" />
}
    <div class="main hide" v-bind:class="['show']">
        <div class="headTab">
            <div class="tab-title">
                <div class="item active">
                    订阅线路
                </div>
                <div class="item" v-on:click="location.href='/Project/GoodsSource'">
                    货源信息
                </div>
            </div>
            <a href="javascript:void(0);" v-if="!isedit" v-on:click="isedit=true" class="subscribeHeadRigth">编辑</a>
            <a href="javascript:void(0);" v-if="isedit" v-on:click="del()" class="subscribeHeadRigth">删除</a>
        </div>
        <ul class="ind_sec1_ul">
            <li v-for="item in listData.list" class="subscribe_item">
                <div class="el_item">
                    <div class="wrapper">
                        <div class="subscribe_li">
                            <div class="infor_p1 bold subscribe_title" v-bind:class="{'subscribe_title':isedit}" v-on:click="clickItem(item)">
                                <span>{{item.start_city|cityFormart(item.start_district,item.start_province,'')}}</span>
                                <i></i><!-- 中间的箭头符号 -->
                                <span>{{item.stop_city|cityFormart(item.stop_district,item.stop_province,'')}}</span>
                            </div>
                            <div class="subscribe_ncount">
                                货源数<span v-text="item.ncount">0</span>
                            </div>
                            <div class="subscribe_del" v-if="isedit" v-on:click="clickItem(item)">
                                <img v-if="item.del" src="/images/icon/icon19_2.png" />
                                <img v-if="!item.del" src="/images/icon/icon19_1.png" />
                            </div>
                            <div class="subscribe_view" v-if="!isedit" v-on:click="viewItem(item)">
                                <span class="badge" v-if="item.rcount>0" v-text="item.rcount">0</span>
                                <img src="/images/icon/icon17.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="pay_m" style="padding:0.1rem 0.1rem .8rem;">
            <a href="javascript:void(0);" class="btn" style="width: 100%;" v-on:click="add()">添加订阅线路</a>
        </div>
        <div class="clearfix"></div>
        <city-dialog v-bind:box="'start_box'"
                     v-bind:box-title="'出发地'"
                     v-bind:ob="model"
                     v-bind:province="'start_province'"
                     v-bind:city="'start_city'"
                     v-bind:district="'start_district'"
                     v-bind:show-dialog="'showCityStart'"
                     v-bind:show-ob="select"
                     v-bind:has-all-district="true"
                     v-bind:has-all-city="true"
                     v-if="select.showCityStart">
        </city-dialog>
        <city-dialog v-bind:box="'stop_box'"
                     v-bind:box-title="'到达地'"
                     v-bind:ob="model"
                     v-bind:province="'stop_province'"
                     v-bind:city="'stop_city'"
                     v-bind:district="'stop_district'"
                     v-bind:show-dialog="'showCityStop'"
                     v-bind:show-ob="select"
                     v-bind:has-all-district="true"
                     v-bind:has-all-city="true"
                     v-if="select.showCityStop">
        </city-dialog>
        <div class="add_box zhp_box hide">
            <div class="pay_m">
                <div class="pg_sec2">
                    <dl>
                        <dd>
                            <span>出发地</span>
                            <input type="text" placeholder="请选择出发地" readonly="readonly" v-bind:value="model.start_city|cityFormart(model.start_district,model.start_province,'')" v-on:click="select.showCityStart=true">
                        </dd>
                        <dd>
                            <span>到达地</span>
                            <input type="text" placeholder="请选择到达地" readonly="readonly" v-bind:value="model.stop_city|cityFormart(model.stop_district,model.stop_province,'')" v-on:click="select.showCityStop=true">
                        </dd>
                    </dl>
                </div>
                <a href="javascript:void(0);" class="btn" style="width: 99%;" v-on:click="confirm()">确认提交</a>
            </div>
        </div>
    </div>
@Html.Partial("_Footer")
@section scripts{
    @Html.Partial("_CityJs")
    @Html.Action("Template", "Partial", new { id = "CityDialog" })
    @Scripts.Render("/Scripts/jquery.linq.min.js", "/Scripts/Project/GoodsSourceSubscribe.js")
}