
@{
    ViewBag.Title = "发布-货源";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="/Content/Project/Project.css" rel="stylesheet" />
}

    <div class="main hide" v-bind:class="['show']">
        <div class="top">
            <div class="wrapper">
                <a href="javascript:history.go(-1);" class="back_btn">返回</a>
                @*<a href="javascript:void(0);" class="wdd">发布须知</a>*@
                <post-help-dialog></post-help-dialog>
            </div>
        </div>
        <div class="banner">
            @Html.Action("AdList", "Partial", new { code = "push_goods_banner" })
        </div>
        <div class="pg_sec1">
            <ul class="">
                <li class="li1">
                    <span>有效期</span>
                    <input type="text" placeholder="请输入有效期" v-model="model.validity_num">
                    <div class="ro_box">
                        <input type="radio" value="天" id="day" checked v-model="model.validity_unit"><label for="day">天</label>
                        <input type="radio" value="月" id="mounth" v-model="model.validity_unit"><label for="mounth">月</label>
                    </div>
                </li>
                <li>
                    <p>本类信息支付费用说明：{{validity_unit_day_money}}元/天，{{validity_unit_month_money}}元/月</p>
                </li>
            </ul>
        </div>

        <div class="pg_sec2">
            <dl>
                <dt>货源路线</dt>
                <dd>
                    <span>出发地</span>
                    <input type="text" placeholder="请选择出发地" readonly="readonly" v-bind:value="(model.start_city+model.start_district)|stringRemove('')" v-on:click="select.showCityStart=true">
                </dd>
                <dd>
                    <span>到达地</span>
                    <input type="text" placeholder="请选择到达地" readonly="readonly" v-bind:value="(model.stop_city+model.stop_district)|stringRemove('')" v-on:click="select.showCityStop=true">
                </dd>
            </dl>
        </div>

        <div class="pg_sec3">
            <dl>
                <dt>用车类型</dt>
                <dd>
                    <a href="javascript:;" v-bind:class="[{ 'cur':model.use_type=='' }]"
                       v-on:click="model.use_type=''">不限</a>
                    <a href="javascript:;" v-for="item in useTypeData"
                       v-bind:class="[{ 'cur': item.title==model.use_type }]"
                       v-text="item.title" v-on:click="model.use_type=item.title"></a>
                </dd>
            </dl>
            <dl>
                <dt>车长<span>（米，可选）</span></dt>
                <dd>
                    <a href="javascript:;" v-bind:class="[{ 'cur':carLenSelect.length==0 }]"
                       v-on:click="carLenSelect=[]">不限</a>
                    <a href="javascript:;" v-for="item in carLengthData"
                       v-bind:class="[{ 'cur': carLenSelect.indexOf(item.title)>=0 }]"
                       v-text="item.title" v-on:click="carLengthClick(item)"></a>
                </dd>
            </dl>
            <dl>
                <dt>车型</dt>
                <dd>
                    <a href="javascript:;" v-bind:class="[{ 'cur':carStyleSelect.length==0 }]"
                       v-on:click="carStyleSelect=[]">不限</a>
                    <a href="javascript:;" v-for="item in carStyleData"
                       v-bind:class="[{ 'cur': carStyleSelect.indexOf(item.title)>=0 }]"
                       v-text="item.title" v-on:click="carStyleClick(item)"></a>
                </dd>
            </dl>
            <dl>
                <dt>货物类型</dt>
                <dd>
                    <a href="javascript:;" v-bind:class="[{ 'cur':model.goods_type=='' }]"
                       v-on:click="model.goods_type='';">不限</a>
                    <a href="javascript:;" v-for="item in goodsTypeData"
                       v-bind:class="[{ 'cur': item.title==model.goods_type }]"
                       v-text="item.title" v-on:click="model.goods_type=item.title;"></a>
                </dd>
            </dl>
        </div>
        <div class="pg_sec1 pg_sec4">
            <ul class="">
                <li class="li1">
                    <span>货物重量体积</span>
                    <input type="text" placeholder="请输入具体数值" v-model="model.goods_weight">
                    <div class="ro_box">
                        <input type="radio" value="吨" id="ton" checked v-model="model.goods_weight_unit"><label for="ton">吨</label>
                        <input type="radio" value="方" id="fang" v-model="model.goods_weight_unit"><label for="fang">方</label>
                    </div>
                </li>
            </ul>
        </div>

        <div class="pg_sec2 pg_sec5">
            <dl>
                <dd class="th_dd">
                    <span>运费金额</span>
                    <input type="number" placeholder="请输入金额" v-model="model.freight">
                    <i>元</i>
                </dd>
                <dd>
                    <span>装车时间</span>
                    <input type="text" readonly="readonly" placeholder="点击选择装车时间" v-model="model.use_time" v-on:click="showUseTime()">
                </dd>
            </dl>
        </div>

        <div class="pg_sec3 pg_sec6">
            <dl>
                <dt>装卸方式</dt>
                <dd>
                    <a href="javascript:;" v-bind:class="[{ 'cur':model.use_mode=='' }]"
                       v-on:click="model.use_mode='';">不限</a>
                    <a href="javascript:;" v-for="item in useModeData"
                       v-bind:class="[{ 'cur': item.title==model.use_mode }]"
                       v-text="item.title" v-on:click="model.use_mode=item.title;"></a>
                </dd>
            </dl>
            <dl>
                <dt>付款方式</dt>
                <dd>

                    <a href="javascript:;" v-for="item in payTypeData"
                       v-bind:class="[{ 'cur': item.title==model.pay_method }]"
                       v-text="item.title" v-on:click="model.pay_method=item.title"></a>
                </dd>
            </dl>
            <dl>
                <dt>其他补充</dt>
                <dd>
                    <textarea placeholder="装卸方式、付款方式、备注" v-model="model.other_remark"></textarea>
                </dd>
            </dl>
        </div>
        <contact v-bind:ob="model" v-bind:name="'contact_name'" v-bind:phone="'contact_phone'"></contact>
        <div class="pg_sec8 pg_sec9">
            <dl>
                <dt>增值服务</dt>
                <dd>
                    <div class="pt1">
                        <img src="/images/icon/icon27_1.png">
                    </div>
                    <div class="pt2">
                        <span>分类置顶</span>
                        <p>将在此分类也置顶显示，更能多人看到</p>
                    </div>
                    <div class="pt3">
                        <span>{{top_cate_money}}元</span>
                        <i v-on:click="topCate"></i>
                    </div>
                </dd>
                <dd>
                    <div class="pt1">
                        <img src="/images/icon/icon27_2.png">
                    </div>
                    <div class="pt2">
                        <span>全站置顶</span>
                        <p>全站所有分类置顶显示，效果更好</p>
                    </div>
                    <div class="pt3">
                        <span>{{top_all_money}}元</span>
                        <i v-on:click="topAll"></i>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="pg_sec8 pg_sec10">
            <dl>
                <dd>
                    <div class="pt1">
                        <img src="/images/icon/icon27_3.png">
                    </div>
                    <div class="pt2">
                        <span>打赏福利</span>
                        <p>客服将优先多渠道推送</p>
                    </div>
                    <div class="pt3">
                        <span>{{model.reward_money}}元</span>
                        <i v-on:click="rewardClick"></i>
                    </div>
                    <div class="clear"></div>
                    <div class="pt4">
                        <div class="txt_n">
                            <a href="javascript:;" v-for="item in rewardMoneyData"
                               v-bind:class="[{ 'cur': item.title==model.reward_money }]"
                               v-text="item.title" v-on:click="model.reward_money=item.title"></a>
                        </div>
                        <p>
                            <span>手动输入打赏金额</span>
                            <input type="text" placeholder="请输入打赏金额" v-model="model.reward_money">
                        </p>
                    </div>

                </dd>
            </dl>
            <a v-on:click="submit" class="btn">确认发布（共支付<label class="total">{{model.total}}</label>元）</a>
        </div>
        <city-dialog v-bind:box="'start_box'"
                     v-bind:box-title="'出发地'"
                     v-bind:ob="model"
                     v-bind:province="'start_province'"
                     v-bind:city="'start_city'"
                     v-bind:district="'start_district'"
                     v-bind:show-dialog="'showCityStart'"
                     v-bind:show-ob="select"
                     v-if="select.showCityStart">
        </city-dialog>
        <city-dialog v-bind:box="'stop_box'"
                     v-bind:box-title="'到达地'"
                     v-bind:ob="model"
                     v-bind:province="'stop_province'"
                     v-bind:city="'stop_city'"
                     v-bind:district="'stop_district'"
                     v-bind:show-dialog="'showCityStop'"
                     v-bind:show-ob="select"
                     v-if="select.showCityStop">
        </city-dialog>
        <div class="use_time_box zhx_box hide">
            <ul class="zhx_box_title tab-title">
                <li style="width:50%;" v-bind:class="[{'active':select.useTimeTab==0}]"
                    v-on:click="selectUseTimeTab(0)">
                    <a href="javascript:;">日期</a>
                </li>
                <li style="width:50%;" v-bind:class="[{'active':select.useTimeTab==1}]"
                    v-on:click="selectUseTimeTab(1)">
                    <a href="javascript:;">时间段</a>
                </li>
            </ul>
            <div v-bind:class="['day','province','clearfix','tab-content',{'hide':select.useTimeTab==1}]">
                <a href="javascript:;" v-for="(item,index) in useDayData"
                   v-bind:class="[{ 'active':item==selectDay }]"
                   v-text="item" v-on:click="selectUseDay(item,index)">
                </a>
            </div>
            <div v-bind:class="['time','city','clearfix','tab-content',{'hide':select.useTimeTab==0}]">
                <a href="javascript:;" style="width:100%;"
                   v-bind:class="[{ 'active':'全天（ 00:00 - 24:00 ）'==selectTime }]"
                   v-on:click="selectUseTime('全天（ 00:00 - 24:00 ）');confirmUseTime();">
                    全天（ 00:00 - 24:00 ）
                </a>
                <a href="javascript:;" v-for="item in useTimeData"
                   v-bind:class="[{ 'active':item==selectTime }]"
                   v-text="item" v-on:click="selectUseTime(item);confirmUseTime();">
                </a>
            </div>
        </div>
    </div>
@section scripts{
    @Html.Partial("_CityJs")
    @Scripts.Render("/Scripts/Project/PostGoods.js")
    @Html.Action("Template", "Partial", new { id = "CityDialog" })
    @Html.Action("Template", "Partial", new { id = "PostHelpDialog" })
    @Html.Action("Template", "Partial", new { id = "Contact" })
    <script>
        $(function () {
            var $a = $(".pg_sec8 .pt4 .txt_n a");

            $a.click(function () {
                $(this).addClass("cur").siblings().removeClass("cur");
            })

        })

        $(function () {
            var $dd = $(".pg_sec8 dl dd");
            var $dd_t = $(".pg_sec10 dl dd")
            $dd.each(function () {
                $(this).find("i").click(function () {
                    $(this).parents("dd").toggleClass("active").siblings().removeClass("active");
                    (function () {
                        if ($dd_t.hasClass("active")) {
                            $(".pg_sec10 dl dd .pt4").show();
                        } else {
                            $(".pg_sec10 dl dd .pt4").hide();
                        }
                    }())
                })
            })
        })
    </script>
}
