

@{
    ViewBag.Title = "详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_Header")

<div class="template">
    <ul class="ind_sec1_ul car_item">
        <li>
            <div class="wrapper">
                <div class="ind_main_t">
                    <div class="use">
                        <a href="car-source-details.asp">
                            <div class="img">
                                <img v-bind:src="newsData.add_avatar">
                            </div>
                            <div class="txt">
                                <span v-text="newsData.add_nickname"></span>
                                <p>
                                    <i class="lab1" v-show="newsData.set_top>0">置顶</i>
                                    <i class="lab2">有车找货</i>
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ind_main_m">
                    <p>业务方向定位为同城即时整车货运，意在整合社会运力资源，搭建快速、平价、安心、专业的同城货运交易平台。货主通过货拉拉平台，可以快速匹配附近的货车资源，并以低价获得优质的货运服务；广大货车司机亦可借助货拉拉迅速对接到客户需求，大大提升货车利用效率，进而获得更为丰厚的收入回报</p>
                </div>
                <div class="details_main">
                    <dl>
                        <dt>类型：</dt>
                        <dd>有车找货</dd>
                    </dl>
                    <dl>
                        <dt>车长：</dt>
                        <dd>4.2米</dd>
                    </dl>
                    <dl>
                        <dt>车型：</dt>
                        <dd>不限</dd>
                    </dl>
                    <dl>
                        <dt>行驶路线：</dt>
                        <dd>上海—广东</dd>
                    </dl>
                    <dl>
                        <dt>其他：</dt>
                        <dd>大家帮忙介绍</dd>
                    </dl>
                </div>
                <div class="ind_time">
                    {{newsData.update_time|dateFormart('更新')}}
                </div>
                <div class="ind_flo">
                    <ol class="clearfix">
                        <li>
                            <img src="/images/icon/icon03_1.png">
                            <span v-text="newsData.view_num"></span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_2.png" v-show="!newsData.is_praise" v-on:click="clickPraise(newsData)">
                            <img src="/images/icon/icon03_4.png" v-show="newsData.is_praise" v-on:click="cancelClickPraise(newsData)">
                            <span v-text="newsData.praise_num"></span>
                        </li>
                        <li>
                            <img src="/images/icon/icon03_3.png">
                            <span v-text="newsData.share_num"></span>
                        </li>
                    </ol>
                </div>
            </div>
        </li>
    </ul>
    <!--联系人-->
    <div class="eld_item2">
        <div class="wrapper">
            <dl>
                <dt>联系电话</dt>
                <dd>
                    <span v-text="newsData.contact_phone"></span>
                    <a class="btn" v-bind:href="'tel://'+newsData.contact_phone"><img src="/images/icon/icon12.png">打电话</a>
                </dd>
            </dl>
            <dl>
                <dt>联系人</dt>
                <dd>
                    <span v-text="newsData.contact_name"></span>
                </dd>
            </dl>
        </div>
    </div>
    <!-- 广告 -->
    @Html.Action("AdList", "Partial", new { code = "details_temp_banner" })
    <details-component v-bind:id="id" v-bind:news-data="newsData"></details-component>
</div>
@Html.Partial("_Footer")
@section scripts{
    @Html.Action("Template", "Partial", new { id = "Details" })
    @Scripts.Render("/Scripts/Project/TemplateDetails.js")
}
