<div class="H50"></div>
<footer>
    <ul class="footer_ul">
        <li class="item active">
            <a href="@Url.Action("Index","Home")">
                <img src="/images/icon/icon04_1.png" alt="">
                <img src="/images/icon/icon04_5.png" alt="">
                <p>首页</p>
            </a>
        </li>
        <li class="item">
            <a href="@Url.Action("GoodsSource","Project")">
                <img src="/images/icon/icon04_2.png" alt="">
                <img src="/images/icon/icon04_6.png" alt="">
                <p>货源信息</p>
            </a>
        </li>
        <li class="item item_s">
            <a href="@Url.Action("PostMessage","Project")">
                <div class="img">
                    <img src="/images/icon/icon05.png" alt="">
                </div>
                <p>发布</p>
            </a>
        </li>
        <li class="item">
            <a href="@Url.Action("CarSell","Project")">
                <img src="/images/icon/icon04_3.png" alt="">
                <img src="/images/icon/icon04_7.png" alt="">
                <p>车辆买卖</p>
            </a>
        </li>
        <li class="item">
            <a href="@Url.Action("Index","User")">
                <img src="/images/icon/icon04_4.png" alt="">
                <img src="/images/icon/icon04_8.png" alt="">
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>

<!-- 未关注 -->
<div class="zhx_div hide">
    <div class="main">
        <img src="/images/icon/icon07.png" class="zhx_logo">
        <p>请关注货车百事帮，100万货车司机加入...</p>
        <a class="btn" href="javascript:;">关注</a>
    </div>
</div>

<!-- 弹出二维码关注 -->

<div class="zhx_code hide">
    <p class="tt">长按下方二维码识别+关注</p>
    <img src="/images/icon/icon08.png">
</div>

<script>

    $(".zhx_div .btn").click(function(){
        layer.open({
            type: 1,
            title: false,
            skin: 'layui-layer-zhx',
            content: $('.zhx_code'),
            area: ['260px', 'auto'],
            closeBtn: 1,
            shade: 0.3,
            shadeClose : false,
            scrollbar: false,
            anim : 2
        });
    })

</script>
