<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Partial("_HeadLink")
    <link href="/Content/Project/Project.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
    @Html.Partial("_FootLink")
    @RenderSection("scripts", required: false)
</body>
</html>
