<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @Styles.Render("/Scripts/swiper/swiper.min.css", "/Scripts/layer/theme/default/layer.css", "/Content/base.css", "/Content/style.css")
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
@Scripts.Render("/Scripts/jquery-2.1.4.min.js",
                      "/Scripts/vue/vue.min.js",
                      "/Scripts/vueFilter.js",
                      "/Scripts/swiper/swiper.min.js",
                      "/Scripts/layer/layer.js",
                      "/Scripts/common.js");
@RenderSection("scripts", required: false)